<?xml version='1.0' encoding='utf-8'?>
<widget id="com.proyectojardin.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Proyecto Jardín</name>
    <description>Aplicación móvil para gestión de jardín infantil</description>
    <author email="dev@example.com" href="http://example.com">
        Proyecto Jardín Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- Configuración específica de Android -->
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>
    <!-- Plugins requeridos -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <!-- Permisos -->
    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>